tbody tr.group>td.group-cell {
  background-color: #d9edf7;
  font-weight: bold;
}
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 50px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}
.dataTables_paginate.pagination, .dataTables_paginate .pagination {
  margin:0;
}
.dataTables_info {
  font-size: 12px;
  padding-top:9px;
}
.toolbar-table {
  margin-bottom: 20px;
}

.dropdown.dropdown-hover:hover .dropdown-menu {
    display: block;
}
.glyphicon {
  margin-top: 3px;
}
.black {
  color:black;
}

table.single-selectable tbody tr, table.multi-selectable tbody tr {
  cursor: pointer;
}

/**
 * 부서선택 인풋 관련 {{{
 */ 
.form-horizontal .dept-selector .dept-name {
  cursor: pointer;
}
.form-horizontal .dept-selector .form-control-feedback {
  right: 0;
  color:black;
}
.form-horizontal .dept-selector .form-control-feedback:hover {
  color:red;
}
/** }}} */

form label.error {
  color: red;
}

.placeholder { color: #aaa; }

#footer {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #666;
}

#footer {
  color: black;
}

body {
  background: #EBEBEB;
  font-family: "맑은 고딕","Malgun Gothic","나눔고딕",NanumGothic,"돋움",dotum,"Georgia Pro",Arial !important;
}

/* Bootstrap Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 1200px;
  max-width: none !important;
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
.nav-stacked li a:hover {
   background-color: #008cba;
   color : #fff;
}

.carousel-indicators .active {
  background-color: #000;
}
.carousel-indicators > li {
  border: 1px solid gray;
}
.carousel.slide {
  background: none !important;
}