.footer {
	text-align: center;
	padding: 30px 0;

	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.navbar .brand {
	font-family: "맑은 고딕","Malgun Gothic","나눔고딕",NanumGothic,"돋움",dotum,"Georgia Pro",Arial;
	color:white;
	font-weight: bold;
	width: 220px;
}
body {
	font-family: "맑은 고딕","Malgun Gothic","나눔고딕",NanumGothic,"돋움",dotum,"Georgia Pro",Arial;
	min-width: 724px;
}

.single-line {
	white-space:nowrap;
}
.dataTables_scrollHeadInner table.datatable {
	margin-bottom: 0;
	max-width: none;
}
.dataTables_scrollBody table.datatable {
	max-width: 0;
}
table.datatable tr.row-selected td {
	background-color: #B0BED9;
}
table.datatable tr.even.row-selected td {
	background-color: #B0BED9;
}
table.datatable tr.odd.row-selected td {
	background-color: #9FAFD1;
}
.datatable-controls {
	margin-bottom: 20px;
}

.form-modal {
	margin-bottom: 0;
}

.table input, .table select {
	margin-bottom: 0;
}

.table.table-form th {
	height:28px;
}
.center {
	text-align: center;
}
.btn-group {
	display: inline-block;
	vertical-align: middle;
}

.form-query {
	margin-bottom: 0;

}
.form-query .control-group {
	margin-bottom: 10px;
}

.well .header {
	margin-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
}